<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ site.moodle_name }} Handbuch ({{ site.university_name_short }}) &raquo; {{ page.title }}</title>
  <link type="image/x-icon" rel="shortcut icon" href="{{site.url}}/images/favicon.ico">
  <link rel="stylesheet" href="{{site.url}}/css/style.css" type="text/css">
  <script type="text/javascript" src="{{site.url}}/js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/jquery_caption.js"></script> 
</head>